html, body{
font-family: 'Poppins', sans-serif;
}
#header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 12px;
position: absolute;
width: 1464px;
height: 96px;
left: 0px;
top: 0px;
}
.menu-inside{
display: flex;
gap: 24px;
}
.menu_and_button{
display: flex;
align-items: center;
gap: 32px;
}
.buy{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;
width: 128px;
height: 45px;
border: 1px solid #2203E4;   
background: white;
}
.Block-body{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 48px;
position: absolute;
width: 1100px;
height: 700px;
left: 206px;
top: 96px;
}
.text-frame{
padding: 10px;
gap: 10px;
width: 631px;
height: 188px;
flex: none;
}
.text-frame-inside{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 611px;
height: 168px;
flex: none;
}
.big-text{
font-weight: 700;
font-size: 47px;
line-height: 120%;
}
.small-text{
line-height: 120%;
}
.buttons{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
width: 253px;
height: 39px;
flex: none;
}
.blue-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;
width: 94px;
height: 39px;
background: #0062FF;
flex: none;
}
.White-button{
width: 130px;
height: 39px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
background: white;
color: #575757;
flex: none;
border: 1px solid #575757;
}
.phone-pic{
width: 470.54px;
height: 462.38px;
flex: none;
order: 1;
flex-grow: 0;
}
.pic-phone{
    width: 470px;
    height: 535px;
}
.Authors{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 36px;
position: absolute;
width: 1190px;
height: 304px;
left: 131px;
top: 796px;
}
.Frame-21{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;
width: 611px;
height: 93px;
flex: none;
}
.Authors{
width: 145px;
height: 43px;
font-weight: 600;
font-size: 36px;
line-height: 120%;
color: #000000;
flex: none;
}
.Amet{
width: 611px;
height: 38px;
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-align: center;
color: #575757;
flex: none;
}
.Frame-20{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 112px;
width: 1190px;
height: 175px;
flex: none;
}
.frame-14{
gap: 34px;
width: 841px;
height: 175px;   
}
.frame-11{
padding: 0px 12px 0px 0px;
gap: 46px;
width: 162px;
height: 150px;
}
.avat{

}
